{% extends "website/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'website/about.css' %}">

<section class="content_c">
    <h1 data-aos="fade-up">Our story</h1>
    <p data-aos="fade-down-left">
        <strong><span >irro'</span>keys</strong> was created by two former colleagues, 
        a research professor and a research engineer. 
        With significant experience in the fields of 
        engineering and a solid theoretical and academic
        background, the two founders saw <strong><span >irro'</span>keys</strong> as 
        a research & development startup aspiring to creation 
        and continuous innovation in the fields of high tech 
        technologies.

    </p>

    <p data-aos="fade-down-right">
        <strong><span >irro'</span>keys</strong> is also designed to meet a real need 
        in industry and compagnies. In the era of digitization 
        and Industry 4.0, the demands and expectations in terms
        of productivity, performance, quality, portability, 
        accessibility and modularity are increasingly important.
        One of the priorities for <strong><span >irro'</span>keys</strong> is therefore 
        the support and monitoring of companies in this 
        adventure of convergence towards this industry of 
        the future.
    </p>
   
</section>

   <section class="content_c2">
    <h1 data-aos="fade-up">Our activity area</h1>
    <p data-aos="fade-down-right">
        Our team of developpers are currentely working on building the website for You 
        in order to have the best experience visiting our website

    </p>

    <p data-aos="fade-down-left">
        Thanks to the transversal skills of our teams 
        and collaborators, we offer at <br> <strong><span >irro'</span>keys</strong> support,
         partnerships, solutions and research & development 
         work in the fields of:
    </p>

    <div>
        <img data-aos="fade-right" src="{% static 'images/puc.svg'%}" alt="">
        <p data-aos="fade-right">
          Robotics and automation control:
        At <br><strong><span >irro'</span>keys</strong>,
         We offer for our partners, solutions and support 
         in innovative projects related to the implementation 
         of industrial robots. We are also involved 
         in developing a  specific control modules in relation 
         to the needs of our customers.
        </p>

        <div data-aos="fade-left">
            <img src="{% static 'images/irrorobt.svg'%}" alt="">
        </div>
    </div>

    <div>
        <img data-aos="fade-right" src="{% static 'images/puc.svg'%}" alt="">
        <p data-aos="fade-right">
            Diagnosis and Quality control:
            We offer at <strong><span >irro'</span>keys</strong> a personalized solutions
             allowing our partners to implement and/or improve 
             their diagnostic and fault detection modules in 
             their machines and production lines. We are mainly 
             specialized in free model methods based on data 
             processing. We also support our customers in the 
             implementation of quality control tools and strategies 
             in their processes and production systems.
        </p>
        <div>
            <img data-aos="fade-left" src="{% static 'images/irrodiag.svg'%}" alt="">
        </div>
    </div>

    <div>
        <img data-aos="fade-right" src="{% static 'images/puc.svg'%}" alt="">
        <p data-aos="fade-right">
            AI, Machine Learning & Data Science :
            The implementation of intelligent modules in 
            companies and industries is now becoming a necessity to 
            optimize and improve the performance of systems and processes.
             Our teams at <strong><span >irro'</span>keys</strong>  offer to support you in innovative projects involving 
             different skills in Artificial Intelligence, Machine Learning and Data Science.
        </p>
        <div>
            <img data-aos="fade-left" src="{% static 'images/irrosmart.svg'%}" alt="">
        </div>
    </div>

    <div>
        <img data-aos="fade-right" src="{% static 'images/puc.svg'%}" alt="">
        <p data-aos="fade-right">
            Apps Development and Software Solutions:
            Our <strong><span >irro'</span>keys</strong> teams offer to support you in your 
            digitalization process through the development of software 
            solutions, applications and HMI interfaces. Assuring our 
            partners a customized solution in line with their specificities 
            and their current needs.
        </p>
        <div data-aos="fade-left">
            <img src="{% static 'images/irroapp.svg'%}" alt="">
        </div>
    </div>

</section>

<section class="content_c3">
    <h1 data-aos="fade-down">Why choose <strong><span >irro'</span>keys</strong></h1>
    <div data-aos="flip-right">
        <div>
            	<img src="{% static 'images/customs.svg'%}" alt="">
                <h2>Customized solution</h2>
                <p>
                    <strong><span >irro'</span>keys</strong> offers an adapted and personalized solutions for partners taking into account their needs and specificities.
                </p>
        </div>
        <div>
            <img src="{% static 'images/expertise.svg'%}" alt="">
            <h2>Expertise</h2>
            <p>
                <strong><span >irro'</span>keys</strong> offers an adapted and personalized solutions
                 for partners taking into account their needs and specificities.
            </p>
    </div>
        
    </div>

    <div data-aos="flip-left">
        <div>
            <img src="{% static 'images/available.svg'%}" alt="">
                <h2>Availability & Responsiveness</h2>
                <p>
                    Our <strong><span >irro'</span>keys</strong> teams provide you with quality 
                    support by always being at your disposal to discuss
                     and find solutions in accordance with your current 
                     needs.                </p>
        </div>
        <div>
            <img src="{% static 'images/team.svg'%}" alt="">
                <h2>Commitment and teamwork</h2>
                <p>
                    Our <strong><span >irro'</span>keys</strong> tems will support your projects with a
                    strong commitment and a desire to always do better and 
                    go further.        
        </div>
    </div>

    <h1 data-aos="fade-down"><strong><span >irro'</span>keys</strong> team</h1>
    <p data-aos="fade-down">Our multidisciplinary <strong><span >irro'</span>keys</strong> team is formed by professionals 
        in the field of high tech (PhD, research engineers and software 
        developers). Thanks to their expertise and experience, our team 
        will provide you with excellent work and quality support in your 
        innovative projects, in order to guarantee you better profitability, 
        quality and efficiency.</p>
</section>

{% include 'website/founders.html' %}



<script type="text/javascript" src="{% static 'website/about.js' %}"> </script>  
{% endblock %}