{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5 user-scalable=no">
    <!-- , user-scalable=no -->
  
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
            </style>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'website/base.css' %}">
    <title>irrokeys</title>
</head>
<body>
    <header >
    
                <svg onclick="location.href='/'"; href="{% url 'home' %}" id="Component_12_1" data-name="Component 12 – 1" xmlns="http://www.w3.org/2000/svg" width="316" height="85.531" viewBox="0 0 350 85.531">
                    <rect width="32%" height="62%" fill="#ffde59" preserveAspectRatio="none" y="-3" />
                      
                      <text id="irro_keys" data-name="irro keys" transform="translate(6 43)" fill="#fefefe" font-size="3.5rem" font-family="Poppins-Bold, Poppins" font-weight="900"><tspan x="0" y="2" fill="#000">irro</tspan><tspan y="2" x= "110" xml:space="preserve" fill="#fefefe">keys</tspan></text>
                      <text id="innovative_research_partner_in_new_technologies" data-name="innovative research partner in new technologies" transform="translate(0 55.531)" fill="#fff" font-size="12" font-family="Poppins-Bold, Poppins" font-weight="500"><tspan x="0" y="13">innovative research partner in new technologies</tspan></text>
                    </svg>
                    
                
                <span onclick="myFunction()" class="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                    
                </span>
                
           <nav  class="buttons_c">
               <a href=""></a>
                <a onclick="location.href='/'"; href="{% url 'home' %}">Home</a>
                <a onclick="location.href='/about'"; href="{% url 'about' %}">About</a>
                <a onclick="location.href='/solutions'"; href="{% url 'solutions' %}">Solutions</a>
                <a onclick="location.href='/news'"; href="{% url 'news' %}">News</a>
                <a onclick="location.href='/contact'"; href="{% url 'contact' %}">Contact</a>  
                <a>Language</a>
                <a>Search</a>   
                
            </nav> 
            
            

        <div   class="nav_content">
           
                <h1 data-aos="fade-right">Your <span>irro'</span>keys Innovative Research Partner</h1>
                <h1 data-aos="fade-left">in new Technologies</h1>
        </div>
        
        
                <div class="but_div">
                 <button data-aos="fade-up-right" onclick="location.href='/about'"; href="{% url 'about' %}" class="big_b ">About us</button>
                <button data-aos="fade-up-left" onclick="location.href='https://www.linkedin.com/company/71269492'"; class="big_b ">Follow us</button>
                </div>
       

                <div id="links" class="ham_menu">
                  
                  <div> 
                    <div>
                      <svg onclick="location.href='/'"; href="{% url 'home' %}" id="Component_12_1" data-name="Component 12 – 1" xmlns="http://www.w3.org/2000/svg" width="316" height="85.531" viewBox="0 0 350 85.531">
                        <rect width="32%" height="62%" fill="#ffde59" preserveAspectRatio="none" y="-3" />
                          
                          <text id="irro_keys" data-name="irro keys" transform="translate(6 43)" fill="#fefefe" font-size="3.5rem" font-family="Poppins-Bold, Poppins" font-weight="900"><tspan x="0" y="2" fill="#000">irro</tspan><tspan y="2" x= "110" xml:space="preserve" fill="#fefefe">keys</tspan></text>
                          <text id="innovative_research_partner_in_new_technologies" data-name="innovative research partner in new technologies" transform="translate(0 55.531)" fill="#fff" font-size="12" font-family="Poppins-Bold, Poppins" font-weight="500"><tspan x="0" y="13">innovative research partner in new technologies</tspan></text>
                        </svg>
                      
                        <button onclick="close_menu()">&#x2715</button>
                    </div>
                    <a onclick="location.href='/'"; href="{% url 'home' %}">Home</a>
                    <a onclick="location.href='/about'"; href="{% url 'about' %}">About</a>
                    <a onclick="location.href='/solutions'"; href="{% url 'solutions' %}">Solutions</a>
                    <a onclick="location.href='/news'"; href="{% url 'news' %}">News</a>
                    <a onclick="location.href='/contact'"; href="{% url 'contact' %}">Contact</a>  
                    <a>Language</a>
                    <a>Search</a>  
                  </div>
                
                </div>
    

    
    </header>

    <div class="name_c" >
        <h1 id= "name_c"></h1>
    </div>

    <div style="width: 100vw; display: flex; padding-bottom: 5vh;" >
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="51" viewBox="0 0 60 51">
            <defs>
              <filter id="Polygon_8" x="0" y="0" width="60" height="51" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-color="#121a41"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Polygon_8)">
              <path id="Polygon_8-2" data-name="Polygon 8" d="M21,0,42,33H0Z" transform="translate(51 39) rotate(180)" fill="#ffde59"/>
            </g>
          </svg>
    </div>

    
    {% block content %}
    
    {% endblock %}
  
    
    <footer >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120"><path fill="#FFF" fill-opacity="1" d="M0,64L120,53.3C240,43,480,21,720,21.3C960,21,1200,43,1320,53.3L1440,64L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
        <div>
          <div>
            <svg onclick="location.href='/'"; href="{% url 'home' %}" id="Component_12_1" data-name="Component 12 – 1" xmlns="http://www.w3.org/2000/svg" width="316" height="85.531" viewBox="0 0 350 85.531">
              <rect width="32%" height="62%" fill="#ffde59" preserveAspectRatio="none" y="-3" />
                
                <text id="irro_keys" data-name="irro keys" transform="translate(6 43)" fill="#fefefe" font-size="3.5rem" font-family="Poppins-Bold, Poppins" font-weight="900"><tspan x="0" y="2" fill="#000">irro</tspan><tspan y="2" x= "110" xml:space="preserve" fill="#fefefe">keys</tspan></text>
                <text id="innovative_research_partner_in_new_technologies" data-name="innovative research partner in new technologies" transform="translate(0 55.531)" fill="#fff" font-size="12" font-family="Poppins-Bold, Poppins" font-weight="500"><tspan x="0" y="13">innovative research partner in new technologies</tspan></text>
              </svg>
              <p>djebab.toufik@irrokeys.de</p>
              <p>belkadi.adel@irrokeys.de</p>
              <p>sales@irrokeys.de</p>
          </div>
          <div>
            <p></p>
            <p></p>
            <p style="text-align: center;">Call us </p>
            <p>Germany : +49.152.560.167.75</p>
            
            <p>France : +33.9.83.52.29.14</p>
  
          </div>
          <div>
          
              <a onclick="location.href='/'"; href="{% url 'home' %}">Home</a>
                  <a onclick="location.href='/about'"; href="{% url 'about' %}">About</a>
                  <a onclick="location.href='/solutions'"; href="{% url 'solutions' %}">Solutions</a>
                  <a onclick="location.href='/news'"; href="{% url 'news' %}">News</a>
                  <a onclick="location.href='/contact'"; href="{% url 'contact' %}">Contact</a>  
          </div>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
    <script type="text/javascript" src="{% static 'website/base.js' %}"> </script>
</body>

</html>