{% extends "website/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'website/news.css' %}">
<section class="timeline">
  
    <ul>
        <li data-aos="fade-up">
            <div class="content">
                <h1><strong><span>Irro'</span>keys</strong> creation</h1>
                <p>As result of the pandemic of 2020, the innovation became more than
                    a lexus, but rather a need. <br>
                    And with the merge of the industrie 4.0 the two founders saw many opportunities 
                    for innovation, bringing new technological solution and be part of the next
                    generation of smat factories.
                    The founders decided to found <strong><span>Irro'</span>keys</strong> in order to help manufactutres in bringing 
                    new innovative solution for there plants and facilities 
                </p>
                
            </div>
            <div class="time">
                <h4>01 October 2020</h4>
            </div>
        </li>
        <li data-aos="fade-up">
            <div class="content">
                <h1> <span>Q</span>ualitex project launch</h1>
                <p>We beleive that the quality of a product, insured by a good quality control process
                    will not only increase the trust between you and your customer
                    but will as well help you to customize your deliverires 
                    Our goal is to provide Foam and plastic manufacturer , a solid tool 
                    to automate and digitalize the control quality process.
                    Our solution garantee a full cycle of quality control, from reception of raw
                    material, during production and after production.
                    
                </p>
               
            </div>
            <div class="time">
                <h4>20 October 2020</h4>
            </div>
        </li>
    </ul>


    <ul >
        <li data-aos="fade-up">
            <div class="content">
                <h1>IOT<span>EX</span> M100</h1>
                <p>As part of our research and development work at <strong><span>Irro'</span>keys</strong>, 
                    we launched the IOTEX project, The IOT Extra, is the new generation of hardware solutions, for the supervision 
                    and diagnosis of a production chain through an intelligent module based on acquisition 
                    and processing real-time images.
                    The use of model-free and data-based diagnostic and fault detection methods, in the context of so-called complex systems, 
                    is now becoming an interesting and often necessary alternative to conventional methods. 
                    We position ourselves at <strong><span>Irro'</span>keys</strong> in this perspective and research & development area and 
                    concerning the integration of intelligent modules in the industrial sector..</p>
            </div>
            <div class="time">
                <h4>15 December 2020</h4>
            </div>
        </li>
        <li data-aos="fade-up">
            <div class="content">
                <h1>Rpe-one project launch</h1>
                <p>We are proposing, through the RPE-One, a project to develop a module for 
                    managing the intensity of effort for high-level athletes. 
                    Through this project, we want to integrate intelligent modules to 
                    optimize the sessions, the loads, and the training planning of athletes 
                    in order to guarantee optimal performance with minimal risk of injury. 
                    Our solution also offers the possibility of managing and optimizing the 
                    planning, programming, and general organization of professional sports 
                    structures and clubs</p>
            </div>
            <div class="time">
                <h4>1 faburary 2021</h4>
            </div>
        </li>
    </ul>

    <ul >
        <li data-aos="fade-up">
            <div class="content">
                <h1> <span>Q</span>ualitex Launch</h1>
                <p>We are very excited to bring Qualitex to the real world!
                    Our first solution is customized to the need of PE Foam manufacturers, the software 
                allows production planning, quality control and track of consumed raw material
            in the extrusion lines
         </p>
            </div>
            <div class="time">
                <h4>1 April 2021</h4>
            </div>
        </li>
      
    </ul>


   
</section>

<script type="text/javascript" src="{% static 'website/news.js' %}"> </script>  
{% endblock %}